## Beispiel-Thread

In [83]:
import praw
secret = json.load(open('.secret.json'))
reddit = praw.Reddit(client_id=secret["client_id"], 
                     client_secret= secret["client_secret"], 
                     user_agent='dataviz:v0.1 (by /u/nobody22)')

In [98]:
for submission in reddit.subreddit('learnpython').hot(limit=10):
    print(submission.title)

Ask Anything Monday - Weekly Thread
Is "if __name__ == '__main__'" actually needed?
I offer my service as a Python tutor
Efficient way to merge list of dicts with dicts that have identical values?
Is OOP a significant and necessary aspect of Python?
Match IDs and find corresponding values
Creating an API using Python?
First project - improvements?
Flask, Forms (Help)
Equivalent of getattr with object key?

<blockquote class="reddit-card" data-card-created="1493683113"><a href="https://www.reddit.com/r/news/comments/3v6iq7/authorities_respond_to_20_victim_shooting/?ref=share&ref_source=embed">Authorities Respond to “20 Victim Shooting” Incident in San Bernardino: Fire Dept.</a> from <a href="http://www.reddit.com/r/news">news</a></blockquote>
<script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>

## TODO: get all comments

In [78]:
#submission.comments.replace_more(limit=0)

In [105]:
top = submission.comments[0]

In [109]:
submission.comments.replace_more

In [106]:
import collections
import json

In [131]:
def get_comment_data(comment):
    c = {}
    c['id'] = comment.id
    c['created_utc'] = comment.created_utc
    if comment.author:
        c['author_name'] = comment.author.name 
#     if comment.body:
#         c['body'] = comment.body  
    if comment.score:
        c['score'] = comment.score
    comment.replies.replace_more(limit=0)
    if comment.replies:
        c['children'] = [get_comment_data(r) for r in comment.replies]
    return c

In [143]:
submission = reddit.submission(url='https://www.reddit.com/r/news/comments/3v6iq7/authorities_respond_to_20_victim_shooting/')

In [196]:
from datetime import datetime

str(datetime.fromtimestamp(submission.created_utc))
submission.fullname

't3_3v6iq7'

In [171]:
print(top.link_id)
print(top.replies[0].link_id)

t3_3v6iq7
t3_3v6iq7

In [144]:
not_replaced = submission.comments.replace_more(limit=0)

In [142]:
comment_data = [get_comment_data(root_comment) for root_comment in submission.comments]

In [150]:
more = not_replaced[0]
more.comments()

[Comment(id='cxl57n3'),
 <MoreComments count=9, children=['cxl5bxo', 'cxl5atu', 'cxl58ej', '...']>,
 Comment(id='cxlgax8'),
 <MoreComments count=19, children=['cxlghdk', 'cxlgdr7']>,
 Comment(id='cxlbpun'),
 <MoreComments count=17, children=['cxlbxsz', 'cxlbvae', 'cxlbstp', '...']>,
 Comment(id='cxks4zf'),
 <MoreComments count=1, children=['cxks6xw']>,
 Comment(id='cxkwqka'),
 <MoreComments count=2, children=['cxkwzyb']>,
 Comment(id='cxkzw4j'),
 <MoreComments count=6, children=['cxkzyw1', 'cxl028b', 'cxkzygb', '...']>,
 Comment(id='cxl27yw'),
 Comment(id='cxl295y'),
 <MoreComments count=1, children=['cxl2bhv']>,
 Comment(id='cxl2a3d'),
 <MoreComments count=1, children=['cxl290d']>,
 Comment(id='cxl32f3'),
 <MoreComments count=2, children=['cxl5zj4', 'cxl3jod']>,
 Comment(id='cxl47n4'),
 <MoreComments count=14, children=['cxl4ctd', 'cxl7h9i', 'cxl4a0h', '...']>,
 Comment(id='cxlzcg9'),
 <MoreComments count=8, children=['cxm7rtm', 'cxlzv9x']>,
 Comment(id='cxkuonf'),
 <MoreComments count=3, children=['cxkyxao', 'cxkusay', 'cxkur1p']>,
 Comment(id='cxkt309'),
 Comment(id='cxktf2c'),
 <MoreComments count=1, children=['cxl3ajv']>,
 <MoreComments count=11, children=['cxkt4uh', 'cxkum2q', 'cxkt3n6', '...']>,
 Comment(id='cxkr448'),
 Comment(id='cxkrvm0'),
 <MoreComments count=18, children=['cxkt77k', 'cxl0uo3', 'cxktvu0', '...']>,
 Comment(id='cxl8prs'),
 Comment(id='cxl8r8l'),
 <MoreComments count=1, children=['cxl980g']>,
 Comment(id='cxkvtua'),
 Comment(id='cxkw2xk'),
 <MoreComments count=1, children=['cxkxih3']>,
 Comment(id='cxkvwsv'),
 Comment(id='cxkvwbz'),
 <MoreComments count=21, children=['cxkwahs', 'cxkvznl', 'cxkvxtu', '...']>,
 Comment(id='cxktyjz'),
 Comment(id='cxktzsr'),
 <MoreComments count=4, children=['cxkv37e', 'cxkvgnj', 'cxkuc5b']>,
 <MoreComments count=7, children=['cxkytgg', 'cxkzs40', 'cxku3id', '...']>,
 Comment(id='cxkuo1k'),
 Comment(id='cxkupdg'),
 <MoreComments count=4, children=['cxkvtl4', 'cxkw42p', 'cxkwsl2', 'cxkvmp3']>,
 <MoreComments count=10, children=['cxkup9e', 'cxkupqm', 'cxkuoup', '...']>,
 Comment(id='cxl1mny'),
 <MoreComments count=6, children=['cxl1pc1', 'cxl1xyb', 'cxl1piu', '...']>,
 Comment(id='cxl4o1m'),
 <MoreComments count=7, children=['cxl4q1s', 'cxl4t9h', 'cxl4qna', '...']>,
 Comment(id='cxlb8y9'),
 <MoreComments count=4, children=['cxlbl97', 'cxlba7o', 'cxlblse']>,
 Comment(id='cxld0ln'),
 <MoreComments count=3, children=['cxld5so', 'cxldcqp']>,
 Comment(id='cxlg2af'),
 Comment(id='cxktn1t'),
 Comment(id='cxkwj3f'),
 <MoreComments count=1, children=['cxkwprs']>,
 Comment(id='cxkypfb'),
 <MoreComments count=7, children=['cxkyz2x', 'cxkyr62', 'cxkyxbw']>,
 Comment(id='cxkyrx6'),
 <MoreComments count=2, children=['cxkyva3']>,
 Comment(id='cxkzoo0'),
 <MoreComments count=3, children=['cxkzqmq', 'cxkztar', 'cxkzqy4']>,
 Comment(id='cxkzv4i'),
 <MoreComments count=2, children=['cxkzxu3']>,
 Comment(id='cxl0qtc'),
 Comment(id='cxl29p7'),
 <MoreComments count=5, children=['cxl2a8h', 'cxl2by9']>,
 Comment(id='cxl3n54'),
 Comment(id='cxl3x4a'),
 <MoreComments count=1, children=['cxl40wk']>,
 Comment(id='cxl4np6'),
 Comment(id='cxl5h84'),
 Comment(id='cxl7mr5'),
 <MoreComments count=4, children=['cxl7plo', 'cxl7pbl', 'cxl7ph8', 'cxl7ssp']>,
 Comment(id='cxl9038'),
 Comment(id='cxlbvik'),
 <MoreComments count=1, children=['cxlc2fg']>,
 Comment(id='cxlc5cn'),
 <MoreComments count=5, children=['cxlcavh', 'cxlc7ri']>,
 Comment(id='cxlc6pu'),
 <MoreComments count=6, children=['cxlc802', 'cxlcd3i', 'cxlcaam']>,
 Comment(id='cxlcbn6'),
 Comment(id='cxlccmg'),
 <MoreComments count=2, children=['cxlcdxv', 'cxlcf77']>,
 <MoreComments count=1, children=['cxlcfjp']>,
 Comment(id='cxlcbud'),
 Comment(id='cxle6fn'),
 <MoreComments count=5, children=['cxle8wo', 'cxle82r', 'cxle7dx', 'cxle86z']>,
 Comment(id='cxlebe5'),
 <MoreComments count=1, children=['cxlefb9']>,
 Comment(id='cxlei3y'),
 <MoreComments count=1, children=['cxlewq7']>,
 Comment(id='cxleirq'),
 <MoreComments count=1, children=['cxleki1']>,
 Comment(id='cxlejbf'),
 Comment(id='cxleqy3'),
 <MoreComments count=23, children=['cxletfh', 'cxletcn']>,
 Comment(id='cxlfk0r'),
 <MoreComments count=17, children=['cxlflvl', 'cxlfkir', 'cxlfmk1']>,
 Comment(id='cxlvbzg'),
 <MoreComments count=3, children=['cxlvhm9', 'cxlvk71', 'cxlwju7']>,
 Comment(id='cxlw49p'),
 Comment(id='cxld4aw'),
 <MoreComments count=3, children=['cxldanf', 'cxldcyz']>,
 Comment(id='cxkr0x2'),
 Comment(id='cxkrax4'),
 Comment(id='cxks0pv'),
 Comment(id='cxku8bp'),
 <MoreComments count=1, children=['cxkxmhj']>,
 <MoreComments count=11, children=['cxky807', 'cxktxyn', 'cxkuc4z', '...']>,
 <MoreComments count=209, children=['cxkught', 'cxksbyb', 'cxkumie', '...']>,
 Comment(id='cxktqh1'),
 <MoreComments count=7, children=['cxku0sd', 'cxkuwdi']>,
 Comment(id='cxkulbt'),
 Comment(id='cxkvywd'),
 <MoreComments count=16, children=['cxkw82r', 'cxkw6mc', 'cxkwcit', '...']>,
 Comment(id='cxkwswy'),
 <MoreComments count=10, children=['cxkwwao', 'cxkx3r9', 'cxkyggj', '...']>,
 Comment(id='cxl4s2j'),
 <MoreComments count=3, children=['cxl4tdt', 'cxl4tpm', 'cxl4vl6']>,
 Comment(id='cxl5znh'),
 <MoreComments count=1, children=['cxl6pdg']>,
 Comment(id='cxlcbl1'),
 Comment(id='cxlcc2z'),
 <MoreComments count=16, children=['cxlcctx', 'cxlcf8n', 'cxlcf11', '...']>,
 Comment(id='cxkty2z'),
 <MoreComments count=5, children=['cxkvcnl', 'cxkuasa', 'cxktzok', 'cxku3d2']>,
 Comment(id='cxl208a'),
 <MoreComments count=5, children=['cxl215k']>,
 Comment(id='cxl37o4'),
 <MoreComments count=5, children=['cxl3922', 'cxl391f', 'cxl3azn', '...']>,
 Comment(id='cxl5szj'),
 <MoreComments count=3, children=['cxl5uag', 'cxl5x8d', 'cxl5wxz']>,
 Comment(id='cxl8qpe'),
 Comment(id='cxl8w4u'),
 <MoreComments count=1, children=['cxl8zqv']>,
 Comment(id='cxl455r'),
 Comment(id='cxl46ef'),
 Comment(id='cxl46uj'),
 <MoreComments count=3, children=['cxl4a55', 'cxl48vu', 'cxl4de7']>,
 Comment(id='cxl5z0u'),
 <MoreComments count=14, children=['cxl66e9', 'cxl61qc', 'cxl60xy', '...']>,
 Comment(id='cxlb0jl'),
 <MoreComments count=10, children=['cxlb3rm', 'cxlb36a', 'cxlb2l2', 'cxlb205']>,
 Comment(id='cxl82bb'),
 Comment(id='cxl8405'),
 <MoreComments count=3, children=['cxl8b8p', 'cxl8hqy']>,
 <MoreComments count=12, children=['cxl84k0', 'cxlbx0s', 'cxl8a30', '...']>,
 Comment(id='cxl7q2t'),
 <MoreComments count=4, children=['cxl7qyh', 'cxl88iu']>,
 Comment(id='cxkvcoj'),
 <MoreComments count=7, children=['cxkvmow', 'cxkvlic', 'cxkvnmw', '...']>,
 Comment(id='cxkx0qq'),
 <MoreComments count=3, children=['cxkx866', 'cxkx5an']>,
 Comment(id='cxl1w20'),
 Comment(id='cxl1ze5'),
 <MoreComments count=2, children=['cxl22yw', 'cxl23bm']>,
 <MoreComments count=8, children=['cxl1ztz', 'cxl207w', 'cxl23ut', 'cxl1za7']>,
 Comment(id='cxl8qmh'),
 <MoreComments count=9, children=['cxl9729', 'cxl9cx2', 'cxl8uzr', '...']>,
 Comment(id='cxkuw4j'),
 Comment(id='cxl13c2'),
 Comment(id='cxl36sz'),
 <MoreComments count=4, children=['cxl3kiz', 'cxl3k1w', 'cxl39fx', 'cxl3hgm']>,
 Comment(id='cxl4951'),
 <MoreComments count=4, children=['cxl4cht', 'cxl4dzf', 'cxl4bt0', 'cxl4brx']>,
 <MoreComments count=42115, children=['cxksu81', 'cxkzv2e', 'cxks4y3', '...']>]

In [214]:
submission_data = {
                    'id': submission.fullname,
                    'title': submission.title,
                    'created_utc': submission.created_utc,
                    'author_name' : submission.author.name,
                    'children': [],
                    'parent_id': ""
                  }
submission_data['children'] = comment_data
json.dump(submission_data, open('test_submission.json', mode='w'), indent=True)

In [152]:
def rec_sum(c):
    if not "children" in c:
        return 1
    else:
        return 1 + sum([rec_sum(child) for child in c["children"]])
rec_sum(submission_data)

496

In [129]:
len(submission_data["children"])

228

## BigQueryJSON to JSON

In [226]:
from path import Path
def fullname(jsonobj):
    jsonobj["id"] = "t1_" + jsonobj["id"]
    return jsonobj
for file in ["data/results-20170502-230026.json"]:
    with open(file) as bfile:
        data = [fullname(json.loads(line)) for line in bfile.readlines()]
    with open("data/data.json", mode='w') as jfile:
        data.append(submission_data)
        json.dump(data, jfile)

In [219]:
parents = set([c['parent_id'] for c in data])

In [220]:
len([c for c in data if c['parent_id'] in parents])

2001

In [227]:
data[:20]

[{'created_utc': '1449084244',
  'id': 't1_cxkpih0',
  'parent_id': 't3_3v6iq7',
  'score': '6'},
 {'created_utc': '1449084454',
  'id': 't1_cxkpo3w',
  'parent_id': 't3_3v6iq7',
  'score': '-34'},
 {'created_utc': '1449084459',
  'id': 't1_cxkpo9n',
  'parent_id': 't3_3v6iq7',
  'score': '3'},
 {'created_utc': '1449084528',
  'id': 't1_cxkpq2r',
  'parent_id': 't3_3v6iq7',
  'score': '-2'},
 {'created_utc': '1449084608',
  'id': 't1_cxkps5t',
  'parent_id': 't1_cxkpo3w',
  'score': '-6'},
 {'created_utc': '1449084666',
  'id': 't1_cxkptpl',
  'parent_id': 't1_cxkps5t',
  'score': '2'},
 {'created_utc': '1449084736',
  'id': 't1_cxkpvj6',
  'parent_id': 't3_3v6iq7',
  'score': '-4'},
 {'created_utc': '1449084765',
  'id': 't1_cxkpwbv',
  'parent_id': 't3_3v6iq7',
  'score': '66'},
 {'created_utc': '1449084809',
  'id': 't1_cxkpxi6',
  'parent_id': 't3_3v6iq7',
  'score': '-13'},
 {'created_utc': '1449084814',
  'id': 't1_cxkpxn6',
  'parent_id': 't3_3v6iq7',
  'score': '534'},
 {'created_utc': '1449084866',
  'id': 't1_cxkpz01',
  'parent_id': 't3_3v6iq7',
  'score': '3'},
 {'created_utc': '1449084873',
  'id': 't1_cxkpz5r',
  'parent_id': 't3_3v6iq7',
  'score': '1183'},
 {'created_utc': '1449084876',
  'id': 't1_cxkpz8w',
  'parent_id': 't1_cxkptpl',
  'score': '-22'},
 {'created_utc': '1449084887',
  'id': 't1_cxkpzjl',
  'parent_id': 't1_cxkpxn6',
  'score': '69'},
 {'created_utc': '1449084902',
  'id': 't1_cxkpzwo',
  'parent_id': 't3_3v6iq7',
  'score': '2'},
 {'created_utc': '1449084920',
  'id': 't1_cxkq0e6',
  'parent_id': 't3_3v6iq7',
  'score': '3071'},
 {'created_utc': '1449084971',
  'id': 't1_cxkq1pj',
  'parent_id': 't3_3v6iq7',
  'score': '-2'},
 {'created_utc': '1449084983',
  'id': 't1_cxkq21s',
  'parent_id': 't3_3v6iq7',
  'score': '2'},
 {'created_utc': '1449084988',
  'id': 't1_cxkq26d',
  'parent_id': 't1_cxkpxi6',
  'score': '6'},
 {'created_utc': '1449085007',
  'id': 't1_cxkq2o9',
  'parent_id': 't1_cxkpxn6',
  'score': '2'}]

In [228]:
import pandas as pd

In [238]:
hndata = pd.read_csv("data/hn-results-20170503-113146.csv", encoding="utf8")
hndata.head()

,id,by,author,time,time_ts,text,parent,deleted,dead,ranking
0,15,sama,sama,1160423461,1.160423e+09,&#34;the rising star of venture capital&#34; -...,1,NaN,NaN,1
1,82729,vice,vice,1195735854,1.195736e+09,I'm nX 1 too<p>;)\n,1,NaN,True,4
2,487171,jacquesm,jacquesm,1235046083,1.235046e+09,"So, just to see how hard it is to make the lon...",1,NaN,NaN,0
3,234509,kleevr,kleevr,1215030588,1.215031e+09,sequential numbering\n I must be bored,1,NaN,NaN,2
4,454410,Arrington,Arrington,1233174694,1.233175e+09,This is why we can't have nice things.,1,NaN,True,3

In [237]:
hndata.filter(like="comment", axis=0)

Empty DataFrame
Columns: [by, score, time, timestamp, title, type, url, text, parent, deleted, dead, descendants, id, ranking]
Index: []